[Desktop Entry]
Name=KeepassXC to Clipboard
Comment=Find and copy secrets to clippboard
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=object-unlocked
X-KDE-PluginInfo-Author=naglfar
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=krunner-keepassxc
X-KDE-PluginInfo-Version=1.9.0
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=de.naglfar.krunner-keepassxc
X-Plasma-DBusRunner-Path=/krunner
