# ~/.config/autostart/

[Desktop Entry]
Version=1.5.2
Type=Application
Name=Runner
Comment=Autostart entry krunner-keepassxc
Keywords=Runner;Krunner
Categories=Utilities
ExecStart=##exec##
Icon=python
StartupNotify=true
