# ~/.config/systemd/user/

[Unit]
Description=krunner-keepassxc python service
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=75
StartLimitBurst=6

[Service]
Type=exec
ExecStart=%h/.local/bin/krunner-keepassxc.pyz run
Restart=always

[Install]
WantedBy=graphical-session.target
