[Desktop Entry]
Version=1.0
Type=Application
Name=Runner
Comment=Autostart entry krunner-keepassxc
Keywords=Runner;Krunner
Categories=Utilities
Exec=python3 -m krunner_keepassxc # or /path/to/venv/bin/python -m krunner_keepassxc
Icon=python
StartupNotify=true
