# ~/.config/systemd/user/

[Unit]
Description=krunner-keepassxc python service

[Service]
Environment="DISPLAY=:0"
# as pex file
#ExecStart=/path/to/krunner_keepassxc.pex
# installed as global package
#ExecStart=python3 -m krunner_keepassxc
# in a virtual environment
#ExecStart=/path/to/venv/bin/python -m krunner_keepassxc

[Install]
WantedBy=default.target
