#~/.config/systemd/user/

[Unit]
Description=krunner-keepassxc python service

[Service]
Environment="DISPLAY=:0"
ExecStart=%h/coding/krunner-keepassxc/krunner.py

[Install]
WantedBy=default.target