#~/.config/systemd/user/

[Unit]
Description=krunner-keepassxc python service

[Service]
ExecStart=%PATHTOVENV/bin/python %h/path/krunner-keepassxc/krunner_keepassxc_krunner.py

[Install]
WantedBy=default.target