# ~/.config/autostart/

[Desktop Entry]
Version=1.5.2
Type=Application
Name=Runner
Comment=Autostart entry krunner-keepassxc
Keywords=Runner;Krunner
Categories=Utilities
# as pex file
#Exec=/path/to/krunner_keepassxc.pex run
# as global package
#Exec=python3 -m krunner_keepassxc run
# in a virtual environment
#Exec=/path/to/venv/bin/python -m krunner_keepassxc run
Icon=python
StartupNotify=true
